


.Quotes{
  display: grid;
  justify-content: center;
  padding: 50px;
  border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0,0,0,.3);
    width: fit-content;
    background-color: #ffff;
  
  
  }
  
  .Quotes div h1 {
   text-align: end;
  
  }
  
  .Quotes div {
      text-align: end;
      
  }
  
  .Quotes div button{
  
      margin-bottom: 20px;
      border-radius: 20px;
      padding: 10px;
      border: none;
  
  
  }
  
  