.red{
  background-color: red;
}

.green{

  background-color: green ;
}

.blue{

  background-color: blue;
}


.card{
  padding: 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0,0,0,.3);
  width: fit-content;
  background-color: #ffff;

  
  
}

.card h1{
  margin-bottom: 10px;
  font-size: 22px;

}

.card img{
  margin-bottom: 20px;
  

}

.card .info div{
  margin-bottom: 50px;

}

.card .info{
  margin-bottom: 20px;
  text-align: left;
}


.card button{
  background-color: greenyellow;
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  border: none;
}